<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.micol.execsample.board.mapper.BoardMapper">
	<select id="boardSelectList" resultType="co.micol.execsample.board.service.BoardVO">
		SELECT * FROM BOARD
	</select>

	<select id="boardSelect" resultType="co.micol.execsample.board.service.BoardVO">
	 	SELECT * FROM BOARD BOARD_NUMBER = #{boardNumber}
	</select>

	<insert id="boardInsert" parameterType="co.micol.execsample.board.service.BoardVO">
		INSERT INTO BOARD (BOARD_NUMBER, BOARD_WRITER, BOARD_TITLE, BOARD_SUBJECT, BOARD_DATE)
		VALUES (#{boardNumber}, #{boardWriter}, #{boardTitle}, #{boardSubject}, #{boardDate})
	</insert>

	<update id="boardUpdate" parameterType="co.micol.execsample.board.service.BoardVO">
		UPDATE BOARD
		<set>
			<if test="BOARD_WRITER != NULL">BOARD_WRITER = #{boardWriter},</if>
			<if test="BOARD_TITLE != NULL">BOARD_TITLE = #{boardTitle},</if>
			<if test="BOARD_SUBJECT != NULL">BOARD_SUBJECT = #{boardSubject},</if>
			<if test="BOARD_DATE != NULL">BOARD_DATE = #{boardDate}</if>
		</set>
	</update>

	<delete id="boardDelete" parameterType="co.micol.execsample.board.service.BoardVO">
		DELETE FROM BOARD WHERE BOARD_NUMBER = #{boardNumber}
	</delete>
</mapper>